src/main/resources/exchange/ggk/ggk0210_stuf0301_msg_ggkberichten_resolved.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:StUF="http://www.egem.nl/StUF/StUF0301"
        targetNamespace="http://www.egem.nl/StUF/StUF0301"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        version="021001">
   <annotation>
		    <documentation>
 			  Wijzigingen t.b.v. patch 4 (03-01-2017) vergeleken met versie ggk0210_msg_ggkberichten.xsd v021000:
			   - Naam is gewijzigd.
			   - Namespaceidentifier is gewijzigd.
			   - Appinfo toegevoegd.
			   - Versienr gewijzigd.
			   - pattern-restrictie toegevoegd op bestandsnaam. 
			   - pattern-restrictie toegevoegd op referentienummer en crossRefnummer
			   - parameters.referentienummerBericht en parameters.crossRefnummerBericht verwijderd
			   - choice voor xml-bericht of tekst-bericht
			   - definitie simpletype bestandsnaam opgenomen
        </documentation>
		    <appinfo>
			      <StUF:onderdeel>http://www.stufstandaarden.nl/koppelvlak/ggk0210</StUF:onderdeel>
			      <StUF:patch>4</StUF:patch>
			      <StUF:patchdatum>20170103</StUF:patchdatum>
			      <StUF:schemaversie>1</StUF:schemaversie>
		    </appinfo>
	  </annotation>
   <annotation>
		    <documentation xml:lang="nl">
               Dit schema  correspondeert met StUF 03.01 (In gebruik) per 1 juli 2011.
               
               Wijzigingen vergeleken met versie 030107:
               - ERR0184: Het attribute functie en het simpleType FunctieVrijBerichtElement toegevoegd.
               
			   Wijzigingen t.b.v. patch 16 (1-7-2013) vergeleken met versie stuf0301.xsd v030108:
			   - ERR240: 'aantalVoorkomens' en 'aardAantal' zijn als attributen deprecated.
               - ERR267: Voor elk type bericht een simpleType toegevoegd in de vorm 'BerichtcodeXxnn' waarbij 'Xxnn' staat voor het betreffende bericht, bijv. 'BerichtcodeLk02'.
							   Voor elke mutatiesoort een simpleType toegevoegd in de vorm 'MutatiesoortX' waarbij 'X' staat voor de betreffende mutatiesoort, bijv. 'MutatiesoortF'.

			   Wijzigingen t.b.v. patch 20 (30-6-2014) vergeleken met versie stuf0301.xsd v030109:
			   - ERR242, ERR248, ERR249, ERR265: Het attribute 'StUF:sleutelSynchronisatie' is gedefinieerd en opgenomen in de attributeGroup 'entiteit'.
 
			   Wijzigingen t.b.v. patch 21 (1-4-2015) vergeleken met versie 030110 zijn de volgende wijzigingen doorgevoerd:			
			   - ERR289: Het complexType 'Datum-r' is vanuit het schema 'zkn0310_msg_stuf_zs-dms.xsd' verplaatst naar dit schema.
			     Daarnaast is ook 'Tijdstip-r' in dit schema geplaatst zodat het ook hergebruikt kan worden in meerdere koppelvlakken.
			   - ERR0353: Het schema is voorzien van de afgesproken structuur in 'appinfo'
 
			   Wijzigingen t.b.v. patch 22 (1-7-2015) vergeleken met versie 030111 zijn de volgende wijzigingen doorgevoerd:			
			   - ERR0395: De regels &lt;element name="aanvullendeElementen" type="anyType"/&gt; en &lt;attribute name="schemaLocation" type="string"/&gt; zijn 
			     toegevoegd aan het schema.
			
        </documentation>
		    <appinfo>
			      <StUF:onderdeel>http://www.egem.nl/StUF/StUF0301</StUF:onderdeel>
			      <StUF:patch>24</StUF:patch>
			      <StUF:patchdatum>20160401</StUF:patchdatum>
			      <StUF:schemaversie>12</StUF:schemaversie>
		    </appinfo>
	  </annotation>
   <complexType name="StuurgegevensDi01-envelopHeenbericht">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					    <element name="zender" type="StUF:Systeem_ggkberichten"/>
					    <element name="ontvanger" type="StUF:Systeem_ggkberichten"/>
					    <element name="referentienummer">
						      <simpleType>
							        <restriction base="StUF:Refnummer">
								          <pattern value="[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}"/>
								          <!-- Version 4 UUID pattern -->
							</restriction>
						      </simpleType>
					    </element>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="functie" type="StUF:Functie"/>
				  </sequence>
		
	  </complexType>
   <complexType name="StuurgegevensDu01-envelopRetourbericht">
		
			   <sequence>
					    <element name="berichtcode" type="StUF:BerichtcodeDu01"/>
					    <element name="zender" type="StUF:Systeem_ggkberichten"/>
					    <element name="ontvanger" type="StUF:Systeem_ggkberichten"/>
					    <element name="referentienummer">
						      <simpleType>
							        <restriction base="StUF:Refnummer">
								          <pattern value="[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}"/>
								          <!-- Version 4 UUID pattern -->
							</restriction>
						      </simpleType>
					    </element>
					    <element name="tijdstipBericht" type="StUF:Tijdstip"/>
					    <element name="crossRefnummer">
						      <simpleType>
							        <restriction base="StUF:Refnummer">
								          <pattern value="[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}"/>
								          <!-- Version 4 UUID pattern -->
							</restriction>
						      </simpleType>
					    </element>
					    <element name="functie" type="StUF:Functie"/>
				  </sequence>
		
	  </complexType>
   <complexType name="Systeem_ggkberichten">
		
			   <sequence>
					    <element name="organisatie" type="StUF:Organisatie"/>
					    <element name="applicatie" type="StUF:Applicatie"/>
					    <element name="administratie" type="StUF:Administratie" minOccurs="0"/>
					    <element name="gebruiker" type="StUF:Gebruiker" minOccurs="0"/>
				  </sequence>
		
	  </complexType>
   <simpleType name="BinaireInhoud-basis_ggkbericht_xml">
		    <restriction base="xs:base64Binary"/>
	  </simpleType>
   <complexType name="BinaireInhoud-basis_ggkbericht_tekst">
		    <simpleContent>
			      <extension base="xs:base64Binary">
				        <attribute name="bestandsnaam" use="required">
					          <simpleType>
						            <restriction base="StUF:bestandsnaampattern"/>
					          </simpleType>
				        </attribute>
			      </extension>
		    </simpleContent>
	  </complexType>
   <simpleType name="bestandsnaampattern">
		    <restriction base="string">
			      <maxLength value="255"/>
			      <minLength value="4"/>
			      <pattern value="[A-Za-z0-9\-\._]+"/>
		    </restriction>
	  </simpleType>
   <element name="Fo01Bericht">
		    <complexType>
			      <sequence>
				        <element name="stuurgegevens">
					          <complexType>
						
							           <sequence>
									            <element name="berichtcode" type="StUF:Berichtcode" fixed="Fo01"/>
									            <element name="zender" type="StUF:Systeem"/>
									            <element name="ontvanger" type="StUF:Systeem"/>
									            <element name="referentienummer" type="StUF:Refnummer"/>
									            <element name="tijdstipBericht" type="StUF:Tijdstip"/>
									            <element name="crossRefnummer" type="StUF:Refnummer"/>
								          </sequence>
						
					          </complexType>
				        </element>
				        <element name="body" type="StUF:Foutbericht"/>
			      </sequence>
		    </complexType>
	  </element>
   <element name="Fo02Bericht">
		    <complexType>
			      <sequence>
				        <element name="stuurgegevens">
					          <complexType>
						
							           <sequence>
									            <element name="berichtcode" type="StUF:Berichtcode" fixed="Fo02"/>
								          </sequence>
						
					          </complexType>
				        </element>
				        <element name="body" type="StUF:Foutbericht"/>
			      </sequence>
		    </complexType>
	  </element>
   <element name="Fo03Bericht">
		    <complexType>
			      <sequence>
				        <element name="stuurgegevens">
					          <complexType>
						
							           <sequence>
									            <element name="berichtcode" type="StUF:Berichtcode" fixed="Fo03"/>
									            <element name="zender" type="StUF:Systeem"/>
									            <element name="ontvanger" type="StUF:Systeem"/>
									            <element name="referentienummer" type="StUF:Refnummer"/>
									            <element name="tijdstipBericht" type="StUF:Tijdstip"/>
									            <element name="crossRefnummer" type="StUF:Refnummer"/>
								          </sequence>
						
					          </complexType>
				        </element>
				        <element name="body" type="StUF:Foutbericht"/>
			      </sequence>
		    </complexType>
	  </element>
   <element name="Bv01Bericht">
		    <complexType>
			      <sequence>
				        <element name="stuurgegevens">
					          <complexType>
						
							           <sequence>
									            <element name="berichtcode" type="StUF:Berichtcode" fixed="Bv01"/>
									            <element name="zender" type="StUF:Systeem"/>
									            <element name="ontvanger" type="StUF:Systeem"/>
									            <element name="referentienummer" type="StUF:Refnummer"/>
									            <element name="tijdstipBericht" type="StUF:Tijdstip"/>
									            <element name="crossRefnummer" type="StUF:Refnummer"/>
								          </sequence>
						
					          </complexType>
				        </element>
				        <element name="melding"
                     type="StUF:Melding"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
			      </sequence>
		    </complexType>
	  </element>
   <element name="Bv02Bericht">
		    <complexType>
			      <sequence>
				        <element name="stuurgegevens">
					          <complexType>
						
							           <sequence>
									            <element name="berichtcode" type="StUF:Berichtcode" fixed="Bv02"/>
								          </sequence>
						
					          </complexType>
				        </element>
				        <element name="melding"
                     type="StUF:Melding"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
			      </sequence>
		    </complexType>
	  </element>
   <element name="Bv03Bericht">
		    <complexType>
			      <sequence>
				        <element name="stuurgegevens">
					          <complexType>
						
							           <sequence>
									            <element name="berichtcode" type="StUF:Berichtcode" fixed="Bv03"/>
									            <element name="zender" type="StUF:Systeem"/>
									            <element name="ontvanger" type="StUF:Systeem"/>
									            <element name="referentienummer" type="StUF:Refnummer"/>
									            <element name="tijdstipBericht" type="StUF:Tijdstip"/>
									            <element name="crossRefnummer" type="StUF:Refnummer"/>
								          </sequence>
						
					          </complexType>
				        </element>
			      </sequence>
		    </complexType>
	  </element>
   <element name="Bv04Bericht">
		    <complexType>
			      <sequence>
				        <element name="stuurgegevens">
					          <complexType>
						
							           <sequence>
									            <element name="berichtcode" type="StUF:Berichtcode" fixed="Bv04"/>
									            <element name="zender" type="StUF:Systeem"/>
									            <element name="ontvanger" type="StUF:Systeem"/>
									            <element name="referentienummer" type="StUF:Refnummer"/>
									            <element name="tijdstipBericht" type="StUF:Tijdstip"/>
									            <element name="crossRefnummer" type="StUF:Refnummer"/>
								          </sequence>
						
					          </complexType>
				        </element>
			      </sequence>
		    </complexType>
	  </element>
   <element name="Tr01Bericht">
		    <complexType>
			      <sequence>
				        <element name="stuurgegevens">
					          <complexType>
						
							           <sequence>
									            <element name="berichtcode" type="StUF:Berichtcode" fixed="Tr01"/>
									            <element name="zender" type="StUF:Systeem"/>
									            <element name="ontvanger" type="StUF:Systeem"/>
									            <element name="referentienummer" type="StUF:Refnummer"/>
									            <element name="tijdstipBericht" type="StUF:Tijdstip"/>
								          </sequence>
						
					          </complexType>
				        </element>
			      </sequence>
		    </complexType>
	  </element>
   <complexType name="Foutbericht">
		    <sequence>
			      <element name="code" type="StUF:Foutcode"/>
			      <element name="plek" type="StUF:Foutplek"/>
			      <element name="omschrijving" type="StUF:Foutomschrijving"/>
			      <element name="details" type="StUF:Foutdetails" minOccurs="0"/>
			      <element name="detailsXML" type="StUF:FoutdetailsXML" minOccurs="0"/>
		    </sequence>
	  </complexType>
   <complexType name="FoutdetailsXML">
		    <sequence>
			      <any namespace="##any"
              processContents="skip"
              minOccurs="0"
              maxOccurs="unbounded"/>
		    </sequence>
	  </complexType>
   <complexType name="Systeem">
		    <sequence>
			      <element name="organisatie" type="StUF:Organisatie" minOccurs="0"/>
			      <element name="applicatie" type="StUF:Applicatie"/>
			      <element name="administratie" type="StUF:Administratie" minOccurs="0"/>
			      <element name="gebruiker" type="StUF:Gebruiker" minOccurs="0"/>
		    </sequence>
	  </complexType>
   <simpleType name="Administratie">
		    <restriction base="string">
			      <maxLength value="50"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Applicatie">
		    <restriction base="string">
			      <minLength value="3"/>
			      <maxLength value="50"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Berichtcode">
		    <restriction base="string">
			      <enumeration value="Bv01">
				        <annotation>
					          <documentation>
						Bevestigingsbericht dat als functionele respons kan worden verstuurd op een asynchroon bericht
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Bv02">
				        <annotation>
					          <documentation>
						Bevestigingsbericht dat als functionele respons kan worden verstuurd op een synchroon bericht
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Bv03">
				        <annotation>
					          <documentation>
						Bevestigingsbericht dat als synchrone respons wordt verstuurd op een asynchroon bericht, indien het ontvangende systeem het bericht op basis van de berichtstuurgegevens heeft gecheckt op verwerkbaarheid
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Bv04">
				        <annotation>
					          <documentation>
						Bevestigingsbericht dat als respons wordt verstuurd op een asynchroon bericht, dat slechts de aflevering naar de uiteindelijke ontvanger kan garanderen, maar de verwerking niet heeft gecheckt op basis van de berichtstuurgegevens
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Di01">
				        <annotation>
					          <documentation>
						Asynchroon vrij bericht dat geen respons is op een eerder verzonden vrij bericht. Het kan bijvoorbeeld gaan om een notificatie of het verzoek deel van een aysnchroon verzoek/respons patroon. De 'i' in Di01 staat daarom voor inkomend.
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Di02">
				        <annotation>
					          <documentation>
						Synchroon vrij bericht waarop een respons wordt verwacht.
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Du01">
				        <annotation>
					          <documentation>
						Asynchroon vrij bericht dat een respons is op een eerder verzonden vrij bericht met berichtsoort Di01.
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Du02">
				        <annotation>
					          <documentation>
						Synchrone respons op een inkomend vrij bericht met berichtsoort Di02
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Fo01">
				        <annotation>
					          <documentation>
						Foutbericht dat als functionele respons kan worden verstuurd op een asynchroon bericht
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Fo02">
				        <annotation>
					          <documentation>
						Foutbericht dat als functionele respons kan worden verstuurd op een synchroon bericht
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Fo03">
				        <annotation>
					          <documentation>
						Foutbericht dat als synchrone respons wordt verstuurd op een asynchroon bericht
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La01">
				        <annotation>
					          <documentation>
						Antwoordbericht met actuele gegevens als respons op een synchroon vraagbericht (Lv01)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La02">
				        <annotation>
					          <documentation>
						Asynchroon antwoordbericht met actuele gegevens als respons op een asynchroon vraagbericht (Lv02)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La03">
				        <annotation>
					          <documentation>
						Synchroon antwoordbericht met huidige gegevens op peiltijdstipMaterieel als respons op een synchroon vraagbericht (Lv03)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La04">
				        <annotation>
					          <documentation>
						Asynchroon antwoordbericht met huidige gegevens op peiltijdstipMaterieel als respons op een asynchroon vraagbericht (Lv03)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La05">
				        <annotation>
					          <documentation>
						Synchroon antwoordbericht met gegevens op peiltijdstipMaterieel en peiltijdstipFormeel als respons op een synchroon vraagbericht (Lv05)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La06">
				        <annotation>
					          <documentation>
						Asynchroon antwoordbericht met gegevens op peiltijdstipMaterieel en peiltijdstipFormeel als respons op een asynchroon vraagbericht (Lv06)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La07">
				        <annotation>
					          <documentation>
						Synchroon antwoordbericht met materiële historie en alleen gewijzigde gegevens in historie als respons op een synchroon vraagbericht (Lv07)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La08">
				        <annotation>
					          <documentation>
						Asynchroon antwoordbericht met materiële historie en alleen gewijzigde gegevens in historie als respons op een asynchroon vraagbericht (Lv08)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La09">
				        <annotation>
					          <documentation>
						Synchroon antwoordbericht met materiële en formele historie en alleen gewijzigde gegevens in historie als respons op een synchroon vraagbericht (Lv09)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La10">
				        <annotation>
					          <documentation>
						Asynchroon antwoordbericht met materiële en formele historie en alleen gewijzigde gegevens in historie als respons op een asynchroon vraagbericht (Lv10)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La11">
				        <annotation>
					          <documentation>
						Synchroon antwoordbericht met materiële historie en alle gegevens in historie als respons op een synchroon vraagbericht (Lv11)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La12">
				        <annotation>
					          <documentation>
						Asynchroon antwoordbericht met materiële historie en alle gegevens in historie als respons op een asynchroon vraagbericht (Lv12)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La13">
				        <annotation>
					          <documentation>
						Synchroon antwoordbericht met materiële en formele historie en alle gegevens in historie als respons op een synchroon vraagbericht (Lv13)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="La14">
				        <annotation>
					          <documentation>
						Asynchroon antwoordbericht met materiële en formele historie en alle gegevens in historie als respons op een asynchroon vraagbericht (Lv14)
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lk01">
				        <annotation>
					          <documentation>
						Asynchroon atomair kennisgevingbericht
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lk02">
				        <annotation>
					          <documentation>
						Synchroon atomair kennisgevingbericht
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lk03">
				        <annotation>
					          <documentation>
						Asynchroon samengesteld kennisgevingbericht of transactie
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lk04">
				        <annotation>
					          <documentation>
						Synchroon samengesteld kennisgevingbericht of transactie
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lk05"/>
			      <enumeration value="Lk06"/>
			      <enumeration value="Lv01">
				        <annotation>
					          <documentation>
						Synchroon vraagbericht naar actuele gegevens
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv02">
				        <annotation>
					          <documentation>
						Asynchroon vraagbericht naar actuele gegevens
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv03">
				        <annotation>
					          <documentation>
						Synchroon vraagbericht naar huidige gegevens op peiltijdstipMaterieel
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv04">
				        <annotation>
					          <documentation>
						Asynchroon vraagbericht naar huidige gegevens op peiltijdstipMaterieel
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv05">
				        <annotation>
					          <documentation>
						Synchroon vraagbericht naar gegevens op peiltijdstipMaterieel en peiltijdstipFormeel
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv06">
				        <annotation>
					          <documentation>
						Asynchroon vraagbericht naar gegevens op peiltijdstipMaterieel en peiltijdstipFormeel
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv07">
				        <annotation>
					          <documentation>
						Synchroon vraagbericht naar actuele gegevens en materiële historie met alleen gewijzigde gegevens in de historie
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv08">
				        <annotation>
					          <documentation>
						Asynchroon vraagbericht naar actuele gegevens en materiële historie met alleen gewijzigde gegevens in de historie
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv09">
				        <annotation>
					          <documentation>
						Synchroon vraagbericht naar actuele gegevens en materiële plus formele historie met alleen gewijzigde gegevens in de historie
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv10">
				        <annotation>
					          <documentation>
						Asynchroon vraagbericht naar actuele gegevens en materiële plus formele historie met alleen gewijzigde gegevens in de historie
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv11">
				        <annotation>
					          <documentation>
						Synchroon vraagbericht naar actuele gegevens en materiële historie met alle gegevens in de historie
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv12">
				        <annotation>
					          <documentation>
						Asynchroon vraagbericht naar actuele gegevens en materiële historie met alle gegevens in de historie
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv13">
				        <annotation>
					          <documentation>
						Synchroon vraagbericht naar actuele gegevens en materiële plus formele historie met alle gegevens in de historie
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Lv14">
				        <annotation>
					          <documentation>
						Asynchroon vraagbericht naar actuele gegevens en materiële plus formele historie met alle gegevens in de historie
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Sa01">
				        <annotation>
					          <documentation>
						Asynchroon synchronisatiebericht voor actuele gegevens
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Sh01">
				        <annotation>
					          <documentation>
						Asynchroon synchronisatiebericht voor actuele en historische gegevens
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Sa02">
				        <annotation>
					          <documentation>
						Synchroon synchronisatiebericht voor actuele gegevens
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Sh02">
				        <annotation>
					          <documentation>
						Synchroon synchronisatiebericht voor actuele en historische gegevens
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Sa03">
				        <annotation>
					          <documentation>
						Vraag naar een asynchroon synchronisatiebericht voor actuele gegevens
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Sh03">
				        <annotation>
					          <documentation>
						Vraag naar een asynchroon synchronisatiebericht voor historische gegevens
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Sa04">
				        <annotation>
					          <documentation>
						Vraag naar een synchroon synchronisatiebericht voor actuele gegevens
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Sh04">
				        <annotation>
					          <documentation>
						Vraag naar een synchroon synchronisatiebericht voor historische gegevens
					</documentation>
				        </annotation>
			      </enumeration>
			      <enumeration value="Tr01">
				        <annotation>
					          <documentation>
						Triggerbericht
					</documentation>
				        </annotation>
			      </enumeration>
		    </restriction>
	  </simpleType>
   <simpleType name="BerichtcodeDi01">
		    <annotation>
			      <documentation>Berichtcode = Di01</documentation>
		    </annotation>
		    <restriction base="StUF:Berichtcode">
			      <enumeration value="Di01"/>
		    </restriction>
	  </simpleType>
   <simpleType name="BerichtcodeDu01">
		    <annotation>
			      <documentation>Berichtcode = Du01</documentation>
		    </annotation>
		    <restriction base="StUF:Berichtcode">
			      <enumeration value="Du01"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Foutcode">
		    <restriction base="string">
			      <maxLength value="7"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Foutplek">
		    <restriction base="string">
			      <enumeration value="client"/>
			      <enumeration value="server"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Foutomschrijving">
		    <restriction base="string">
			      <maxLength value="200"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Foutdetails">
		    <restriction base="string">
			      <maxLength value="1000"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Functie">
		    <restriction base="string">
			      <maxLength value="30"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Gebruiker">
		    <restriction base="string">
			      <maxLength value="100"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Melding">
		    <restriction base="string">
			      <maxLength value="250"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Organisatie">
		    <restriction base="string">
			      <maxLength value="200"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Refnummer">
		    <restriction base="string">
			      <maxLength value="40"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Tijdstip">
		    <restriction base="string">
			      <pattern value="[0-9]{8,17}"/>
		    </restriction>
	  </simpleType>
   <simpleType name="Versienr">
		    <restriction base="string">
			      <minLength value="4"/>
			      <maxLength value="4"/>
			      <pattern value="[0-9]{4}"/>
		    </restriction>
	  </simpleType>
</schema>
