src/main/resources/message/iJw/JW302.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ijw="http://www.istandaarden.nl/ijw/2_3/basisschema/schema" xmlns:jw302="http://www.istandaarden.nl/ijw/2_3/jw302/schema" targetNamespace="http://www.istandaarden.nl/ijw/2_3/jw302/schema" elementFormDefault="qualified">
	<xs:import namespace="http://www.istandaarden.nl/ijw/2_3/basisschema/schema" schemaLocation="basisschema.xsd"></xs:import>
	<xs:annotation>
		<xs:appinfo>
			<ijw:standaard>ijw</ijw:standaard>
			<ijw:bericht>jw302</ijw:bericht>
			<ijw:release>2.3</ijw:release>
			<ijw:versie>1.0</ijw:versie>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="Bericht" type="jw302:Root"></xs:element>
	<xs:complexType name="Root">
		<xs:annotation>
			<xs:documentation>Bericht voor de toewijzing van Jeugdhulp aan een aanbieder.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Header" type="jw302:Header"></xs:element>
			<xs:element name="Client" type="jw302:Client" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Header">
		<xs:sequence>
			<xs:element name="BerichtCode">
				<xs:annotation>
					<xs:documentation>Code ter identificatie van een soort bericht.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="ijw:LDT_BerichtCode">
						<xs:pattern value="437"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BerichtVersie">
				<xs:annotation>
					<xs:documentation>Volgnummer van de formele uitgifte van een versie van een (externe-integratie) berichtstandaard.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="ijw:LDT_BerichtVersie">
						<xs:pattern value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BerichtSubversie">
				<xs:annotation>
					<xs:documentation>Volgnummer binnen het versienummer van een (externe-integratie) berichtstandaard.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="ijw:LDT_BerichtSubversie">
						<xs:pattern value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Afzender" type="ijw:LDT_Gemeente">
				<xs:annotation>
					<xs:documentation>Identificatie van een gemeente die betrokken is bij de uitvoering van zorg of ondersteuning.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ontvanger" type="ijw:LDT_AgbCode">
				<xs:annotation>
					<xs:documentation>Identificerende code van een aanbieder van zorg of ondersteuning.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BerichtIdentificatie" type="ijw:CDT_BerichtIdentificatie">
				<xs:annotation>
					<xs:documentation>Naam of nummer en dagtekening ter identificatie van een totale aanlevering.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentificatieRetour" type="ijw:LDT_IdentificatieBericht">
				<xs:annotation>
					<xs:documentation>Naam of nummer ter identificatie van een retourbericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DagtekeningRetour" type="ijw:LDT_Datum">
				<xs:annotation>
					<xs:documentation>Dagtekening van het retourbericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="XsltVersie" type="ijw:LDT_Versie" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Volgnummer van de formele uitgifte van een versie van de XSLT's die zijn ingezet voor de controle van het heenbericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCodes" type="jw302:RetourCodes" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RetourCodes">
		<xs:sequence>
			<xs:element name="RetourCode" type="ijw:LDT_RetourCode" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding in een retourbericht van het resultaat van de beoordeling van een (deel van het) ontvangen bericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Client">
		<xs:annotation>
			<xs:documentation>Persoonsgegevens van de client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Bsn" type="ijw:LDT_BurgerServicenummer">
				<xs:annotation>
					<xs:documentation>Een door de overheid toegekend identificerend nummer in het kader van het vereenvoudigen van het contact tussen overheid en burgers en het verminderen van de administratieve lasten.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geboortedatum" type="ijw:CDT_Geboortedatum">
				<xs:annotation>
					<xs:documentation>Datum waarop een natuurlijk persoon geboren is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geslacht" type="ijw:LDT_Geslacht">
				<xs:annotation>
					<xs:documentation>De sekse van een persoon, zoals bij geboorte formeel vastgesteld of nadien formeel gewijzigd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Naam" type="ijw:CDT_VolledigeNaam">
				<xs:annotation>
					<xs:documentation>Volledige naam van een natuurlijk persoon, aangeduid als Geslachtsnaam, eventueel Partnernaam, Voornamen en/of Voorletters en NaamGebruik.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Communicatie" type="ijw:CDT_Communicatie" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Aanduiding over bijzondere vorm van communicatie die gebruikt dient te worden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="JuridischeStatus" type="ijw:LDT_JuridischeStatus" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Juridische situatie die voor de client van toepassing is op het moment van indicatiestelling.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WettelijkeVertegenwoordiging" type="ijw:LDT_WettelijkeVertegenwoordiging" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Wettelijke vertegenwoordiging die voor de client van toepassing is op het moment van beoordeling.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commentaar" type="ijw:LDT_Commentaar" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vrije tekst (bijvoorbeeld toelichting) in een bericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Relaties" type="jw302:Relaties" minOccurs="0"></xs:element>
			<xs:element name="Contactgegevens" type="jw302:Contactgegevens"></xs:element>
			<xs:element name="Beschikking" type="jw302:Beschikking"></xs:element>
			<xs:element name="RetourCodes" type="jw302:RetourCodes"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Relaties">
		<xs:sequence>
			<xs:element name="Relatie" type="jw302:Relatie"  maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Relatie">
		<xs:annotation>
			<xs:documentation>Persoonsgegevens van de relatie van de client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Nummer" type="ijw:LDT_Persoonsid">
				<xs:annotation>
					<xs:documentation>Identificerend nummer van de relatie van een client.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Volgorde" type="ijw:LDT_RelatieVolgorde" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Aanduiding van de prioriteit van de contactpersoon.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Soort" type="ijw:LDT_SoortRelatie">
				<xs:annotation>
					<xs:documentation>De soort relatie die een persoon ten opzichte van de client heeft.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geboortedatum" type="ijw:CDT_Geboortedatum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum waarop een natuurlijk persoon geboren is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geslacht" type="ijw:LDT_Geslacht" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De sekse van een persoon, zoals bij geboorte formeel vastgesteld of nadien formeel gewijzigd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Naam" type="ijw:CDT_VolledigeNaam">
				<xs:annotation>
					<xs:documentation>Volledige naam van een natuurlijk persoon, aangeduid als Geslachtsnaam, eventueel Partnernaam, Voornamen en/of Voorletters en NaamGebruik.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Contact" type="jw302:Contact"></xs:element>
			<xs:element name="RetourCodes" type="jw302:RetourCodes"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contact">
		<xs:annotation>
			<xs:documentation>Gegevens voor de aanduiding van het adres van de client of relatie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Soort" type="ijw:LDT_AdresSoort">
				<xs:annotation>
					<xs:documentation>Nadere typering van het adres.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Adres" type="ijw:CDT_Adres" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Adres van de client of relatie van de client.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Organisatie" type="ijw:LDT_Organisatienaam" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De naam van een organisatie waar de client of relatie van de client verblijft.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Telefoon" type="ijw:CDT_Telefoonnummers" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De telefoonnummers waarop de client of relatie van de client te bereiken is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Emailadres" type="ijw:LDT_Emailadres" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Het e-mailadres van de client of relatie van de client.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Periode" type="ijw:CDT_OpenPeriode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Begindatum en/of een einddatum van het verblijf van de client of relatie van de client op een tijdelijk adres.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCodes" type="jw302:RetourCodes"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contactgegevens">
		<xs:sequence>
			<xs:element name="Contact" type="jw302:Contact"  maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Beschikking">
		<xs:annotation>
			<xs:documentation>Gegevens over de beschikking van de client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BeschikkingNummer" type="ijw:LDT_Nummer">
				<xs:annotation>
					<xs:documentation>Identificerend nummer van de opdracht om ondersteuning te leveren zoals vastgesteld door de gemeente. Dit is niet noodzakelijkerwijs een officiele beschikking.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grondslagen" type="ijw:CDT_Grondslagen" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding wat als eerste ten grondslag ligt aan het beschikking met betrekking tot de ondersteuning voor een client.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Afgiftedatum" type="ijw:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop de beschikking genomen is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ingangsdatum" type="ijw:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum die aangeeft vanaf welke datum de beschikking rechtsgeldig is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Einddatum" type="ijw:LDT_Datum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum die aangeeft tot en met welke datum het beschikking rechtsgeldig is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commentaar" type="ijw:LDT_Commentaar" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vrije tekst (bijvoorbeeld toelichting) in een bericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Beperkingen" type="jw302:Beperkingen" minOccurs="0"></xs:element>
			<xs:element name="ToegewezenProducten" type="jw302:ToegewezenProducten"></xs:element>
			<xs:element name="RetourCodes" type="jw302:RetourCodes"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Beperkingen">
		<xs:sequence>
			<xs:element name="Beperking" type="jw302:Beperking"  maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Beperking">
		<xs:annotation>
			<xs:documentation>Gegevens over beperkingen van de client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Categorie" type="ijw:LDT_BeperkingCategorie">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de beperking.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Duur" type="ijw:LDT_Duur" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code die aangeeft wat de verwachte duur is van de categorie beperking.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commentaar" type="ijw:LDT_Commentaar" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vrije tekst (bijvoorbeeld toelichting) in een bericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeperkingScores" type="jw302:BeperkingScores" minOccurs="0"></xs:element>
			<xs:element name="RetourCodes" type="jw302:RetourCodes"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BeperkingScores">
		<xs:sequence>
			<xs:element name="BeperkingScore" type="jw302:BeperkingScore"  maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BeperkingScore">
		<xs:annotation>
			<xs:documentation>Scoregegevens over de beperkingen van de client.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Vraag" type="ijw:LDT_BeperkingVraag">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de vraag over beperking.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Score" type="ijw:LDT_BeperkingScore">
				<xs:annotation>
					<xs:documentation>Gecodeerde aanduiding van de score op een vraag over een beperking.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commentaar" type="ijw:LDT_Commentaar" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vrije tekst (bijvoorbeeld toelichting) in een bericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCodes" type="jw302:RetourCodes"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ToegewezenProducten">
		<xs:sequence>
			<xs:element name="ToegewezenProduct" type="jw302:ToegewezenProduct"  maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ToegewezenProduct">
		<xs:annotation>
			<xs:documentation>Gegevens over een product dat de gemeente toewijst aan een aanbieder.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ToewijzingNummer" type="ijw:LDT_Nummer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificerend nummer van de opdracht om een zorg - of ondersteuningsproduct te leveren, zoals vastgesteld door de gemeente.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReferentieAanbieder" type="ijw:LDT_Referentie" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Naam of nummer die als referentie kan worden meegegeven.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Product" type="ijw:CDT_Product">
				<xs:annotation>
					<xs:documentation>Gecodeerde omschrijving van een product, dienst of resultaat ten behoeve van het leveren van ondersteuning aan een client.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Toewijzingsdatum" type="ijw:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop de gemeente de Jeugdhulp aan client toewijst.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Toewijzingstijd" type="ijw:LDT_Tijd">
				<xs:annotation>
					<xs:documentation>Het tijdstip waarop de gemeente de Jeugdhulp aan client toewijst.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ingangsdatum" type="ijw:LDT_Datum">
				<xs:annotation>
					<xs:documentation>De datum waarop de toegewezen product voor de eerste keer geleverd dient te worden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Einddatum" type="ijw:LDT_Datum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De datum waarop de toegewezen product voor de laatste keer geleverd dient te worden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RedenWijziging" type="ijw:LDT_RedenWijziging" minOccurs="0">
				<xs:annotation>
					<xs:documentation>De reden waarom een toewijzing wordt gewijzigd.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Omvang" type="ijw:CDT_Omvang" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Aanduiding van de omvang van de te leveren of geleverde ondersteuning, uitgedrukt in Volume, Eenheid en Frequentie.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commentaar" type="ijw:LDT_Commentaar" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vrije tekst (bijvoorbeeld toelichting) in een bericht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetourCodes" type="jw302:RetourCodes"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
